
.event {
  color: black;
  background: white;
}

@media screen and (max-width: 768px) {
  .event-body {
    justify-content: flex;
    flex-direction: column;
  }

  .activities-list {
    width: 100%;
  }
}
